<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML321ENSkillsNetwork32585014-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Calculate Course Similarity using BoW Features**

Estimated time needed: **45** minutes

Similarity measurement between items is the foundation of many recommendation algorithms, especially for content-based recommendation algorithms. For example, if a new course is similar to user's enrolled courses, we could recommend that new similar course to the user. Or If user A is similar to user B, then we can recommend some of user B's courses to user A (the unseen courses) because user A and user B may have similar interests.

In a previous course, you learned many similarity measurements such as `consine`, `jaccard index`, or `euclidean distance`, and these methods need to work on either two vectors or two sets (sometimes even matrices or tensors).

In previous labs, we extracted the BoW features from course textual content. Given the course BoW feature vectors, we can easily apply similarity measurement to calculate the course similarity as shown in the below figure.

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/module\_2/images/course_sim.png)

## Objectives

After completing this lab you will be able to:

*   Calculate the similarity between any two courses using BoW feature vectors

***

## Prepare and setup lab environment

First let's install and import required libraries:

In [ ]:
!pip install nltk==3.6.7
!pip install gensim==4.1.2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nltk==3.6.7
  Downloading nltk-3.6.7-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 8.8 MB/s
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk==3.6.7) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk==3.6.7) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk==3.6.7) (4.64.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk==3.6.7) (7.1.2)
Installing collected packages: nltk
  Attempting uninstall: nltk
    Found existing installation: nltk 3.7
    Uninstalling nltk-3.7:
      Successfully uninstalled nltk-3.7
Successfully installed nltk-3.6.7
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gensim==4.1.2
  Downloading gensim-4.1.2-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (24.1 MB)
     |████████████████████████████████| 24.1 MB 1.5 MB/s
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim==4.1.2) (1.7.3)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from gensim==4.1.2) (1.21.6)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from gensim==4.1.2) (5.2.1)
Installing collected packages: gensim
  Attempting uninstall: gensim
    Found existing installation: gensim 3.6.0
    Uninstalling gensim-3.6.0:
      Successfully uninstalled gensim-3.6.0
Successfully installed gensim-4.1.2

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import gensim
import pandas as pd
import nltk as nltk

from scipy.spatial.distance import cosine,jaccard,euclidean
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk import ngrams
from gensim import corpora

%matplotlib inline

In [ ]:
# also set a random state
rs = 123

### Calculate the consine similarity between two example courses

Suppose we have two simple example courses:

In [ ]:
course1 = "machine learning for everyone"

In [ ]:
course2 = "machine learning for beginners"

Next we can quickly tokenize them using the split() method (or using `word_tokenize()` method provided in `nltk` as we did in the previous lab).

In [ ]:
tokens = set(course1.split() + course2.split())

In [ ]:
tokens = list(tokens)
tokens

['for', 'everyone', 'learning', 'beginners', 'machine']

then generate BoW features (token counts) for these two courses (or using `tokens_dict.doc2bow()` method provided in `nltk`, similar to what we did in the previous lab).

In [ ]:
def generate_sparse_bow(course):
    bow_vector = []
    words = course.split()
    for token in tokens:
        if token in words:
            bow_vector.append(1)
        else:
            bow_vector.append(0)
    return bow_vector

In [ ]:
bow1 = generate_sparse_bow(course1)
bow1

[1, 1, 1, 0, 1]

In [ ]:
bow2 = generate_sparse_bow(course2)
bow2

[1, 0, 1, 1, 1]

From the above cell outputs, we can see the two vectors are very similar. Only two dimensions are different.

Now we can quickly apply the cosine similarity measurement on the two vectors:

In [ ]:
cos_sim = 1 - cosine(bow1, bow2)

In [ ]:
print(f"The cosine similarity between course `{course1}` and course `{course2}` is {round(cos_sim, 2) * 100}%")

The cosine similarity between course `machine learning for everyone` and course `machine learning for beginners` is 75.0%

*Practice: Try other similarity measurements such as Euclidean Distance or Jaccard index.*

In [ ]:
# WRITE YOUR CODE HERE
jac_sim = 1 - jaccard(bow1,bow2)
euc_sim = 1 - euclidean(bow1,bow2)
print(euclidean(bow1,bow2))
print(f"The jaccard similarity between course `{course1}` and course `{course2}` is {round(jac_sim, 2) * 100}%")
print(f"The euclidean similarity between course `{course1}` and course `{course2}` is {round(euc_sim, 2) * 100}%")

1.4142135623730951
The jaccard similarity between course `machine learning for everyone` and course `machine learning for beginners` is 60.0%
The euclidean similarity between course `machine learning for everyone` and course `machine learning for beginners` is -41.0%

### TASK: Find similar courses to the course `Machine Learning with Python`

Now you have learned how to calculate cosine similarity between two sample BoW feature vectors. Let's work on some real course BoW feature vectors.

In [ ]:
# Load the BoW features as Pandas dataframe
bows_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/datasets/courses_bows.csv"
bows_df = pd.read_csv(bows_url)
bows_df = bows_df[['doc_id', 'token', 'bow']]

In [ ]:
bows_df.tail(10)

           doc_id          token  bow
10356  excourse93         jquery    2
10357  excourse93       breaking    1
10358  excourse93       deleting    1
10359  excourse93  interactivity    1
10360  excourse93     manageable    1
10361  excourse93      modifying    1
10362  excourse93     objectives    1
10363  excourse93         pieces    1
10364  excourse93        plugins    1
10365  excourse93       populate    1

The `bows_df` dataframe contains the BoW features vectors for each course, in a vertical and dense format. It has three columns `doc_id` represents the course id, `token` represents the token value, and `bow` represents the BoW value (token count).

Then, let's load another course content dataset which contains the course title and description:

In [ ]:
# Load the course dataframe
course_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML321EN-SkillsNetwork/labs/datasets/course_processed.csv"
course_df = pd.read_csv(course_url)

In [ ]:
course_df.head(10)

,COURSE_ID,TITLE,DESCRIPTION
0,ML0201EN,robots are coming build iot apps with watson ...,have fun with iot and learn along the way if ...
1,ML0122EN,accelerating deep learning with gpu,training complex deep learning models with lar...
2,GPXX0ZG0EN,consuming restful services using the reactive ...,learn how to use a reactive jax rs client to a...
3,RP0105EN,analyzing big data in r using apache spark,apache spark is a popular cluster computing fr...
4,GPXX0Z2PEN,containerizing packaging and running a sprin...,learn how to containerize package and run a ...
5,CNSC02EN,cloud native security conference data security,introduction to data security on cloud
6,DX0106EN,data science bootcamp with r for university pr...,a multi day intensive in person data science ...
7,GPXX0FTCEN,learn how to use docker containers for iterati...,learn how to use docker containers for iterati...
8,RAVSCTEST1,scorm test 1,scron test course
9,GPXX06RFEN,create your first mongodb database,in this guided project you will get started w...

Given course ID `ML0101ENv3`, let's find out its title and description:

In [ ]:
course_df[course_df['COURSE_ID'] == 'ML0101ENv3']

,COURSE_ID,TITLE,DESCRIPTION
158,ML0101ENv3,machine learning with python,machine learning can be an incredibly benefici...

We can see it is a machine learning with Python course so we can expect any machine learning or Python related courses would be similar.

Then, let's print its associated BoW features:

In [ ]:
ml_course = bows_df[bows_df['doc_id'] == 'ML0101ENv3']
ml_course

          doc_id         token  bow
2747  ML0101ENv3        course    1
2748  ML0101ENv3      learning    4
2749  ML0101ENv3       machine    3
2750  ML0101ENv3          need    1
2751  ML0101ENv3           get    1
2752  ML0101ENv3       started    1
2753  ML0101ENv3        python    2
2754  ML0101ENv3          tool    1
2755  ML0101ENv3         tools    1
2756  ML0101ENv3       predict    1
2757  ML0101ENv3          free    1
2758  ML0101ENv3        hidden    1
2759  ML0101ENv3      insights    1
2760  ML0101ENv3    beneficial    1
2761  ML0101ENv3        future    1
2762  ML0101ENv3        trends    1
2763  ML0101ENv3          give    1
2764  ML0101ENv3    supervised    1
2765  ML0101ENv3  unsupervised    1

We can see the BoW feature vector is in vertical format but normally feature vectors are in horizontal format. One way to transpose the feature vector from vertical to horizontal is to use the Pandas `pivot()` method:

In [ ]:
ml_courseT = ml_course.pivot(index=['doc_id'], columns='token').reset_index(level=[0])
ml_courseT

           doc_id        bow                                              \
token             beneficial course free future get give hidden insights
0      ML0101ENv3          1      1    1      1   1    1      1        1

                                                                          \
token learning machine need predict python started supervised tool tools
0            4       3    1       1      2       1          1    1     1


token trends unsupervised
0          1            1

To compare the BoWs of any two courses, which normally have a different set of tokens, we need to create a union token set and then transpose them. We have provided a method called `pivot_two_bows` as follows:

In [ ]:
def pivot_two_bows(basedoc, comparedoc):
    base = basedoc.copy()
    base['type'] = 'base'
    compare = comparedoc.copy()
    compare['type'] = 'compare'
    # Append the two token sets vertically
    join = base.append(compare)
    # Pivot the two joined courses
    joinT = join.pivot(index=['doc_id', 'type'], columns='token').fillna(0).reset_index(level=[0, 1])
    # Assign columns
    joinT.columns = ['doc_id', 'type'] + [t[1] for t in joinT.columns][2:]
    return joinT

In [ ]:
course1 = bows_df[bows_df['doc_id'] == 'ML0151EN']
course2 = bows_df[bows_df['doc_id'] == 'ML0101ENv3']

In [ ]:
bow_vectors = pivot_two_bows(course1, course2)
bow_vectors

,doc_id,type,approachable,basics,beneficial,comparison,course,dives,free,future,...,relates,started,statistical,supervised,tool,tools,trends,unsupervised,using,vs
0,ML0101ENv3,compare,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
1,ML0151EN,base,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0

Similarly, we can use the cosine method to calculate their similarity:

In [ ]:
similarity = 1 - cosine(bow_vectors.iloc[0, 2:], bow_vectors.iloc[1, 2:])
similarity

0.6626221399549089

Now it's your turn to perform a task of finding all courses similar to the course `Machine Learning with Python`:

In [ ]:
course_df[course_df['COURSE_ID'] == 'ML0101ENv3']

,COURSE_ID,TITLE,DESCRIPTION
158,ML0101ENv3,machine learning with python,machine learning can be an incredibly benefici...

You can set a similarity threshold such as 0.5 to determine if two courses are similar enough.

*TODO: Find courses which are similar to course `Machine Learning with Python (ML0101ENv3)`, you also need to show the title and descriptions of those courses.*

In [ ]:
# WRITE YOUR CODE HERE

## For each course other than ML0101ENv3, use pivot_course_rows to convert it with course ML0101ENv3 into horizontal two BoW feature vectors
## Then use the cosine method to calculate the similarity
## Report all courses with similarities larger than a specific threshold (such as 0.5)

similar_courses = []
course_id = course_df['COURSE_ID']
for course in course_id:
  course1 = bows_df[bows_df['doc_id'] == course]
  course2 = bows_df[bows_df['doc_id'] == 'ML0101ENv3']
  bow_vectors = pivot_two_bows(course1, course2)
  similarity = 1 - cosine(bow_vectors.iloc[0, 2:], bow_vectors.iloc[1, 2:])
  if similarity > 0.5:
    similar_courses.append(course)
    display(course_df[course_df['COURSE_ID'] == course])

,COURSE_ID,TITLE,DESCRIPTION
157,ML0109EN,machine learning dimensionality reduction,machine learning dimensionality reduction

,COURSE_ID,TITLE,DESCRIPTION
158,ML0101ENv3,machine learning with python,machine learning can be an incredibly benefici...

,COURSE_ID,TITLE,DESCRIPTION
200,ML0151EN,machine learning with r,this machine learning with r course dives into...

,COURSE_ID,TITLE,DESCRIPTION
259,excourse46,machine learning,machine learning is the science of getting com...

,COURSE_ID,TITLE,DESCRIPTION
260,excourse47,machine learning for all,machine learning often called artificial inte...

,COURSE_ID,TITLE,DESCRIPTION
273,excourse60,introduction to tensorflow for artificial inte...,if you are a software developer who wants to b...

### Summary

Congratulations, you have finished the course similarity lab. In this lab, you used cosine and course BoW features to calculate the similarities among courses. Such similarity measurement is the core of many content-based recommender systems, which you will learn and practice in the later labs.

## Authors

[Yan Luo](https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML321ENSkillsNetwork32585014-2022-01-01)

### Other Contributors

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description          |
| ----------------- | ------- | ---------- | --------------------------- |
| 2021-10-25        | 1.0     | Yan        | Created the initial version |

Copyright © 2021 IBM Corporation. All rights reserved.